<h2>Add a new comment!</h2>
<div>
  <form class="comment-form">
    <label for="comment">Comment</label>
    <textarea class="form-input" id="comment" name="comment"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>

<script src="./js/comment.js"></script>
